name: build firmware

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Fetch code
      uses: actions/checkout@v4
      with:
        submodules: recursive
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-arm-none-eabi libnewlib-dev libnewlib-arm-none-eabi ninja-build cmake
    
    - name: Build firmware
      run: |
        cmake --preset MinSizeRel
        cmake --build build/MinSizeRel
    
    - name: Upload firmware
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.event.repository.name }}-${{ github.run_id }}
        path: |
          build/MinSizeRel/U2HTS_F070F6.hex
          build/MinSizeRel/U2HTS_F070F6.bin
